*
{
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.start-page
{
    background-image: url("cute chubby house.jpg");
    background-repeat: round;
    height: 550px;
}

.start-page .logo img
{
    margin: 100px;
    width: 300px;
    height: 150px;
}

.start-page .identitet .icon img
{
    width: 200px;
    height: 110px;
}

.start-page .identitet .slogan
{
    margin-top: 75px;
    font-weight: bold;
    font-size: 1.2rem;
}

.identitet
{
    display: flex;
    float: right;
    margin-top:  230px;
    margin-right: 20px;
}

