*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Start */
.start-page
{
    background-image: url("cute chubby house.jpg");
    background-repeat: round;
    height: 500px;
}

.start-page .logo
{
    display:flex;
}

.start-page .logo img
{
    margin: 100px;
    width: 300px;
    height: 150px;
}

/* Second part */
.second-part .identitet .icon img
{
    width: 200px;
    height: 110px;
}

.second-part .identitet .slogan
{

    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Nerko One', cursive;
    padding:20px;
    margin-top: 60px;
}

/* Drop down menu */
.dropdown-identity .identitet
{
    display: flex;
    float: right;
    margin-right: 20px;
    position: fixed;
    right:10px;
    bottom:10px;
}

.dropdown-identity
{
    display:flex;
    height: 20%;
}

.dropdown-identity .text-user
{
    padding:30px;
    width: 65%;
}

.drop-down-menu
{
    display: flex;
    height: 10vh;
    width: 65%;
    align-items: center;
    justify-content: center;
}

.drop-down-menu .drop-down .dropButton
{
    background: white;
    color: rgba(0,0,0);
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 2px 5px 16px 5px rgba(0,0,0,0.2);
    width: 450px;
    margin-top: 20px;

}

.drop-down-menu .drop-down .dropButton:hover, .dropButton:focus
{
    background-color: rgba(128,191,227);
}

.drop-down-menu .drop-down
{
    position: relative;
    display: inline-block;
}

.drop-down-menu .dropDowns
{
    display:none;
}

.drop-down-menu .show-drop-downs
{
    display:none;

    background-color: white;
    border: 1px solid black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-down-menu .show-drop-downs a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-down-menu .show-drop-downs a:hover
{
    background-color: lightgrey;
}

.drop-down-menu .show-drop-downs
{
    display: block;

}

.second-part .dropdown-identity .text-user .text
{
    font-size: 15px;
    font-weight: bolder;
}
.easy-container
{
    align-items: center;
}
#easy-choice
{
    align-items: center;
}
/* Slideshow primary */

.slideshow-container
{
    max-width: 1000px;
    position: relative;
    margin:auto;
}

.textImg
{
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slides-one
{
    display: none;
}

.slides-two
{
    display: none;
}

.image
{
    width: 100%;
    height: 450px;
}

.previous, .next
{
    cursor: pointer;
    position: absolute;
    top:50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next
{
    right:0;
    border-radius: 3px 0 0 3px;
}

.numbers
{
    color: black;
    font-size: 13px;
    padding:30px 40px;
}


.fade
{
    animation: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4}
    to{opacity: 1}
}

.energy
{
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.blala
{
    margin-top:1000px;
}

.block
{
    display: block;
}


.energy img
{
    width: 75px;
    height: 75px;
    display: flex;
}

.image-text-container
{
    justify-content: center;
    margin: 40px 0px 40px 0px;
}

.image-text
{
    align-items: center;
}

.price
{
    font-size: 20px;
}

.price-in-numbers
{
    font-size: 25px;
}

.red
{
    color: red;
}

